<h1>Hello, my name is <%= ["Amigo", "Oscar", "Viking"].sample %>, I am ninja roll </h1>



<div style='border: 3px solid black; width:500px;'>
   <img src='https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg' width="500px">
</div>
