
<% if @name %>

<h1>Hello, my name is <%= @name %>, I am ninja roll </h1>
<% end %>

<form action="/named-cat">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>



<div style='border: 3px solid black; width:500px;'>
   <img src='https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg' width="500px">
</div>
